body{
	background: url(../img/proba.jpg) no-repeat top center;
}


.em-txt{
	color: #6600cc !important;
}

.jumbotron{
	background : url(../img/avion.jpg) no-repeat top center;
	height: 654px;
	color : white;

	border-style: solid;
	border-color:  #6600cc;
	border-width: 1px;
}

.home-jumbo{
	font-family: "Arial", Verdana, Georgia;
	font-style: italic;

}

#middle .pomeraj{
	height: 170px;
}


.atraktivne-destinacije{
	width: 100%;
	padding: 3px;

}

#middle .panel-heading{
	background-color: #9933ff;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-style: italic;
}

#middle .panel-body{
	background-color: #cccccc;
	width: 100%;
	margin: 0;
}
#middle .panel-footer{
	background-color: #bfbfbf;
	color: black;
	height: 210px;
}

#middle h1{
	color: white;
	font-style: italic;
}
section{
	padding: 40px 0 40px 0;
}

footer{
	background: #333;
	color: #fff;
	padding: 30px 0 20px 0;
   position:fixed;
   left:0px;
   bottom:0px;
   height: 7%;
   width:100%;


}

footer li{
	float: left;
	padding: 0 10px 0 10px;
	list-style: none;
}

footer a{
	color: #fff;
}


#calendar{
     max-width: 600px;
     margin: 60px 0 0 50px;
 }


@media(min-width: 1370px){

	footer {
		margin-top: 10px;
		padding-bottom: 20px;
		height: 20px;
		font-size: 10px;
	}

	footer #podaci{
		margin-top: -10px;
	}
	footer #copy{
		margin-top: -10px;
	}


		footer ul{
		padding : 0px;
		margin-bottom: 10px;
	}
}

@media(min-width: 1200px) and (max-width: 1369) {

	
	
	footer {
		margin-top: 10px;
		padding-bottom: 20px;
		height: 20px;
		font-size: 10px;
	}

	footer #podaci{
		margin-top: -10px;
	}
	footer #copy{
		margin-top: -10px;
	}


		footer ul{
		padding : 0px;
		margin-bottom: 10px;
	}
}


@media(min-width: 991px) and (max-width: 1200px) {
	
	.jumbotron h1{
		font-size: 60px;
	}

	.clock {
		display: none;
	}

	#middle .panel{
		width: 100%;
		float: left;
		margin-right: 10px;
	}

	#middle .panel-footer{
		font-size: 12px;
	}

	footer {
		margin-top: 10px;
		padding-bottom: 20px;
		height: 20px;
		font-size: 10px;
	}
	footer #podaci{
		margin-top: -10px;
	}
	footer #copy{
		margin-top: -10px;
	}


		footer ul{
		padding : 0px;
		margin-bottom: 10px;
	}
}


@media(min-width: 770px) and (max-width: 990px) {


	.clock {
		width: 100%;
		text-align: center;
	}

	#middle .panel{
		width: 40%;
		float: left;
		margin-right: 10px;
		margin-left: 50px;
	}

	#middle h1{
		margin-right: 10px;
		margin-left: 220px;
	}

	#calendar {
		display: none;
	}


	footer {
		margin-top: 10px;
		padding-bottom: 20px;
		height: 20px;
		font-size: 10px;
	}

	footer #podaci{
		padding: 0;
		margin-left: 92px;
		margin-right: 170px;
		margin-top: -30px;
	}
	footer #copy{
		margin-top: -1px;
	}
	footer ul{
		padding : 0px;
		margin-bottom: 10px;
	}
}


@media(min-width: 545px) and (max-width: 769px) {


	.jumbotron h1 {
		text-align: center;
		font-size: 50px;
	}

	.clock {
		width: 100%;
	}

	#middle .panel{
		width: 38%;
		float: left;
		margin-right: 10px;
		margin-left: 50px;
	}

	#middle h1{
		margin-right: 10px;
		margin-left: 200px;
	}

	#calendar {
		display: none;
	}

	#middle .panel-footer{
		font-size: 12px;
	}

	footer {
		margin-top: 10px;
		padding-bottom: 20px;
		height: 20px;
		font-size: 10px;
	}

	footer #podaci{
		padding: 0;
		margin-left: 92px;
		margin-right: 170px;
		margin-top: -30px;
	}
	footer #copy{
		margin-top: -1px;
	}
	footer ul{
		padding : 0px;
		margin-bottom: 10px;
	}
	
}

@media(min-width: 525px) and (max-width: 544px) {
	

	.jumbotron h1 {
		text-align: center;
		font-size: 50px;
	}

	.clock {
		width: 100%;
	}

	#middle .panel{
		width: 35%;
		float: left;
		margin-right: 10px;
		margin-left: 50px;
	}

	#middle h1{
		margin-right: 10px;
		margin-left: 200px;
	}

	#calendar {
		display: none;
	}

	#middle .panel-footer{
		font-size: 10.5px;
	}

	footer {
		margin-top: 10px;
		padding-bottom: 20px;
		height: 20px;
		font-size: 10px;
	}

	footer #podaci{
		padding: 0;
		margin-left: 92px;
		margin-right: 170px;
		margin-top: -30px;
	}
	footer #copy{
		display: none;
	}
	footer ul{
		padding : 0px;
		margin-bottom: 10px;
	}
	
}

@media(min-width: 470px) and (max-width: 524px) {


	.jumbotron h1 {
		text-align: center;
		font-size: 50px;
	}

	.clock {
		display: none;
	}

	#middle .panel{
		width: 35%;
		float: left;
		margin-right: 10px;
		margin-left: 50px;
	}

	#middle h1{
		margin-right: 10px;
		margin-left: 160px;
	}

	#calendar {
		display: none;
	}

	#middle .panel-footer{
		font-size: 9.5px;
	}


	footer {
		margin-top: 10px;
		padding-bottom: 20px;
		height: 20px;
		font-size: 10px;
	}

	footer #podaci{
		padding: 0;
		margin-left: 92px;
		margin-right: 150px;
		margin-top: -30px;
	}
	footer #copy{
		display: none;
	}
	footer ul{
		padding : 0px;
		margin-bottom: 10px;
	}
	
}


@media(min-width: 400px) and (max-width: 470px) {



	.jumbotron h1 {
		text-align: center;
		font-size: 50px;
	}

	.clock {
		display: none;
	}

	#middle .panel{
		width: 33.5%;
		float: left;
		margin-right: 10px;
		margin-left: 50px;
	}

	#middle h1{
		margin-right: 10px;
		margin-left: 140px;
	}

	#calendar {
		display: none;
	}

	#middle .panel-footer{
		font-size: 8.5px;
	}

	footer {
		margin-top: 10px;
		padding-bottom: 20px;
		height: 20px;
		font-size: 10px;
	}

	footer #podaci{
		padding: 0;
		margin-left: 92px;
		margin-right: 70px;
		margin-top: -30px;
	}
	footer #copy{
		display: none;
	}
	footer ul{
		padding : 0px;
		margin-bottom: 10px;
	}
	
}

@media (min-width: 330px) and (max-width: 400px) {

	.jumbotron h1 {
		text-align: center;
		font-size: 50px;
	}

	.clock {
		display: none;
	}

	#middle .panel{
		width: 30%;
		float: left;
		margin-right: 10px;
		margin-left: 50px;
	}

	#middle h1{
		margin-right: 10px;
		margin-left: 120px;
	}

	#calendar {
		display: none;
	}

	#middle .panel-footer{
		font-size: 7px;
	}
	
	footer {
		margin-top: 10px;
		padding-bottom: 20px;
		height: 20px;
		font-size: 10px;
	}

	footer #podaci{
		padding: 0;
		margin-left: 75px;
		margin-right: 50px;
		margin-top: -30px;
	}
	footer #copy{
		display: none;
	}
	footer ul{
		padding : 0px;
		margin-bottom: 10px;
	}
	
}

@media (min-width: 303px) and (max-width: 329px) {

	.jumbotron h1 {
		text-align: center;
		font-size: 50px;
	}

	.clock {
		display: none;
	}

	#middle .panel-heading{
		font-size: 10px;
	}
	#middle .panel{
		width: 28%;
		float: left;
		margin-right: 10px;
		margin-left: 50px;
	}

	#middle h1{
		margin-right: 10px;
		margin-left: 100px;
	}

	#calendar {
		display: none;
	}

	#middle .panel-footer{
		font-size: 6px;
	}
	
	footer {
		margin-top: 10px;
		padding-bottom: 20px;
		height: 20px;
		font-size: 10px;
	}

	footer #podaci{
		padding: 0;
		margin-left: 75px;
		margin-right: 50px;
		margin-top: -30px;
	}
	footer #copy{
		display: none;
	}
	footer ul{
		padding : 0px;
		margin-bottom: 10px;
	}
	
}

@media (min-width: 297px) and (max-width: 302px) {

	.jumbotron h1 {
		text-align: center;
		font-size: 50px;
	}

	.clock {
		display: none;
	}

	#middle .panel-heading{
		font-size: 10px;
	}
	#middle .panel{
		width: 27.5%;
		float: left;
		margin-right: 10px;
		margin-left: 50px;
	}

	#middle h1{
		margin-right: 10px;
		margin-left: 90px;
	}

	#calendar {
		display: none;
	}

	#middle .panel-footer{
		font-size: 5.5px;
	}
	
	footer {
		margin-top: 10px;
		padding-bottom: 20px;
		height: 20px;
		font-size: 10px;
	}

	footer #podaci{
		padding: 0;
		margin-left: 75px;
		margin-right: 50px;
		margin-top: -30px;
	}
	footer #copy{
		display: none;
	}
	footer ul{
		padding : 0px;
		margin-bottom: 10px;
	}
	
}

@media (min-width: 280px) and (max-width: 296px) {

	.jumbotron h1 {
		text-align: center;
		font-size: 50px;
	}

	.clock {
		display: none;
	}

	#middle .panel-heading{
		font-size: 8.5px;
		text-align: center;
	}
	#middle .panel{
		width: 26%;
		float: left;
		margin-right: 10px;
		margin-left: 50px;
	}

	#middle h1{
		margin-right: 10px;
		margin-left: 80px;
	}

	#calendar {
		display: none;
	}

	#middle .panel-footer{
		font-size: 5px;
	}
	
	footer {
		margin-top: 10px;
		padding-bottom: 20px;
		height: 20px;
		font-size: 10px;
	}

	footer #podaci{
		padding: 0;
		margin-left: 75px;
		margin-right: 50px;
		margin-top: -30px;
	}
	footer #copy{
		display: none;
	}
	footer ul{
		padding : 0px;
		margin-bottom: 10px;
	}
	
}

@media (min-width: 261px) and (max-width: 279px) {

	.jumbotron h1 {
		text-align: center;
		font-size: 50px;
	}

	.clock {
		display: none;
	}

	#middle .panel-heading{
		font-size: 6px;
	}
	#middle .panel{
		width: 24%;
		float: left;
		margin-right: 10px;
		margin-left: 50px;
	}

	#middle h1{
		margin-right: 10px;
		margin-left: 70px;
	}

	#calendar {
		display: none;
	}

	#middle .panel-footer{
		font-size: 3.5px;
	}
	
	footer {
		margin-top: 10px;
		padding-bottom: 20px;
		height: 20px;
		font-size: 10px;
	}

	footer #podaci{
		padding: 0;
		margin-left: 75px;
		margin-right: 50px;
		margin-top: -30px;
	}
	footer #copy{
		display: none;
	}
	footer ul{
		padding : 0px;
		margin-bottom: 10px;
	}
	
}

@media (min-width: 218px) and (max-width: 260px) {

	.jumbotron h1 {
		text-align: center;
		font-size: 50px;
	}

	.clock {
		display: none;
	}

	#middle .panel-heading{
		font-size: 4px;
	}
	#middle .panel{
		width: 18%;
		float: left;
		margin-right: 10px;
		margin-left: 50px;
	}

	#middle h1{
		margin-right: 10px;
		margin-left: 50px;
	}

	#calendar {
		display: none;
	}

	#middle .panel-footer{
		font-size: 2px;
	}
	
	footer {
		margin-top: 10px;
		padding-bottom: 20px;
		height: 20px;
		font-size: 10px;
	}

	footer #podaci{
		padding: 0;
		margin-left: 75px;
		margin-right: 50px;
		margin-top: -30px;
	}
	footer #copy{
		display: none;
	}
	footer ul{
		padding : 0px;
		margin-bottom: 10px;
	}
	
}

@media (max-width: 217px) {

	.jumbotron h1 {
		text-align: center;
		font-size: 50px;
	}

	.clock {
		display: none;
	}

	#middle .container{
		display: none;
	}
	#middle .panel-heading{
		display: none;
	}
	#middle .panel{
		display: none;
	}

	#middle h1{
		display: none;
	}

	#calendar {
		display: none;
	}

	#middle .panel-footer{
		display: none;
	}
	
	footer {
		margin-top: 10px;
		padding-bottom: 20px;
		height: 20px;
		font-size: 10px;
	}

	footer #podaci{
		padding: 0;
		margin-left: 75px;
		margin-right: 50px;
		margin-top: -30px;
	}
	footer #copy{
		display: none;
	}
	footer ul{
		padding : 0px;
		margin-bottom: 10px;
	}
	
}

#havana:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
#pariz:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
#dubai:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
#amsterdam:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
}
